PORT=3000


#Dev set up
PROD=false

JWT_SEED=cualquier_cosa

MONGO_URL=mongodburl
MONGO_DB_NAME=MFLOW 
MONGO_USER=user
MONGO_PASS=password

SEND_EMAIL=false
MAILER_SERVICE=gmail
MAILER_EMAIL=email@gmail.com
MAILER_SECRET_KEY=secret
